<div class = ' mbtext d-flex justify-content-center'>
<table class="table table-dark ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Last 20 posts</th>
      <th scope="col">Email</th>
      
    </tr>
  </thead>
  <tbody>
  
  <%  @all_users.each do  |single_user| %>
  <tr>
  <a href="/user/<%=single_user.id%>">
   
   <th scope="row"><%=@count += 1%></th>
    <td><%=single_user.first_name%> <%=single_user.last_name%></td>
      <td><a href="/user/<%=single_user.id%>">All posts </a></td>
      <td><%= single_user.email %></td>
      </a>
 </tr>
<% end %>

</tbody>
</table>
 </div>