 
<div class="container mt-5" >
  <form method="POST" action="/post" class = "user-id">
    <div class="row1" >
      <div class="col-md-4 top-marg">
        <input name="title" type="text" id="materialContactFormMessage" class="form-control " placeholder="Title">
        <label for="materialContactFormMessage"> </label>
      </div>

      <div class="col-md-9 top-marg-2">
        <textarea class = "mobile-text"name="post" cols="70" rows="19" placeholder="Enter Your Message"></textarea>
      </div>
      <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" style="width:100%" type="submit">Send</button>
     

  </form>
  </div>
</div>
</div>

<div class="container">

  <% @post.reverse.take(20).each do  |single_post| %>

    <div class=" bounceIn card text-white bg-secondary mb-3 ">


      <div class="card-header">
        <a href="/post/<%=single_post.id%>">
          <%= single_post.title%>
        </a>
        <a href="/post/<%=single_post.id%>/edit" class="float-right">
          <h6>Edit</h6>
        </a>

      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <%= single_post.post%>
        </p>
      </div>
    </div>

    <% end %>
</div>


</div>
   </div>


   
    <div class="text-center py-3"><a href="/user/<%=@user.id%>/edit" class = 'mb-1 float-center'>Edit user</a>
    </div>
     