 
 

  <div class="copy">

<form action="/user_edit/<%=@curent_user.id%>" method="post" class = "register" >
<input type = "hidden" name = "_method" value="PUT">
  <input  type="text" name="first_name" id="first_name" placeholder="first_name" value ="<%=@curent_user.first_name%>">
  <input type="text" name="last_name" id="last_name" placeholder="last_name" value ="<%=@curent_user.last_name%>">
  <input type="text" name="email" id="email" placeholder="email" value ="<%=@curent_user.email%>">
   <input type="text" name="birthday" id="birthday" placeholder="birthday" value ="<%=@curent_user.birthday%>">
  <input type="password" name="password" id="password" placeholder="Password" value ="<%=@curent_user.pas%>">
  <input type="submit" value="edit">
</form>


  </div> 


  <form method="POST" action="/user/<%= get_current_user.id %>">
  <input type="hidden" name="_method" value="DELETE">

  <input type="submit" value="delete account">
</form>